# To learn more about .editorconfig see https://aka.ms/editorconfigdocs
root = true

# All files
[*]
indent_style = space
indent_size = 4
guidelines = 110
trim_trailing_whitespace = true

# Xml files

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = none

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none

[*.xml]
indent_size = 2
